nav {
    background: darkblue;
    color: whitesmoke;
    padding: 15px;
}

.active {
    font-weight: 700;
    color: black;
    text-decoration: none;
    border-bottom: 5px orange solid;
    padding-bottom: 8px;
}
.quickLinks {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.quickLinks > a {
    margin-left: 10px;
    margin-right: 10px;
}