nav {
    background: darkblue;
    color: whitesmoke;
    padding: 15px;
}

.quickLinks {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.quickLinks > a{
    margin-left: 10px;
    margin-right: 10px;
}