h3 {
    font-size: 1.25rem;
}

.coverImgDiv {
    height: 150px;
}

.coverImg {
    max-height: 100%;
}

.navbarTop {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}

main {
    margin-top: 200px;
    
  }