h3 {
    font-size: 1.25rem;
}

.coverImgDiv {
    height: 150px;
}

.coverImg {
    max-height: 100%;
}

.categoryDiv {
    border: solid black 1px;
}

.navbarTop {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    margin-top: 200px;
    /* margin-bottom: 40px; */
  }