html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
}

h4 {
    margin: 0;
}

nav {
    display: flex;
    align-content: space-between;
    margin: 0px 10px;
}

nav > div{
    flex: 1;
}

p {
    flex: 1;
    margin: 0;
}

.content-container {
    display: flex;
    flex-flow: row wrap;
}

.cropped1 {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.cropped2 {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.featured-image {
    max-width: 500px;
    width: auto;
}

.left-side {
    margin: 10px;
    min-width: 500px;
}

.product-information {
    margin-top: 10px;;
}

.right-side {
    text-align: left;
    margin: 10px;
}

.spacing {
    display: flex;
    flex-flow: row wrap;
    padding-right: 20px;
    font-size: 14px;
}

.thumbnail {   
    margin: 5px 0px;
    width: auto;
    max-width: 60px;
}

.thumbnail-section {
    display: flex;
    justify-content: space-between;
}

.vertical-padding {
    padding: 10px; 0px;
}

#logo{
    text-emphasis: left;
    border: solid black 1px;
}

#links{
    text-align: center;
    display: flex;
    align-content: space-around;
    border: solid black 1px;
}

#links > p{
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#search{
    text-align: right;
    border: solid black 1px;
}