nav {
    display: flex;
    align-content: space-between;
    margin: 0px 10px;
}

nav > div{
    flex: 1;
}

p {
    flex: 1;
    margin: 0;
}

.content-container {
    display: flex;
    flex-flow: row wrap;
}

.featured-image {
    max-width: 500px;
    width: auto;
}

.product-description {
    
}

.product-information {
    text-align: left;
    margin: 10px;
}

.product-images {
    margin: 10px;
}

.thumbnail {
    border: 1px solid black;
    margin: 5px;
    width: auto;
    min-width: 50px;
    min-height: 50px;
}

.thumbnail-section {
    display: flex;
    justify-content: space-between;
}

#logo{
    text-emphasis: left;
    border: solid black 1px;
}

#links{
    text-align: center;
    display: flex;
    align-content: space-around;
    border: solid black 1px;
}

#links > p{
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#search{
    text-align: right;
    border: solid black 1px;
}