body {
    background-color: dimgray;
}

.curriculum {
    color: darkturquoise;
}

.logo {
    border: solid darkturquoise 1px;
    width: fit-content;
    padding: 5px;
}

#biglogo {
    border: solid black 3px;
    width: fit-content;
    font-size: 12px;
    text-align: center;
}